$primary-color:  #F9B707;
$primary-background-contrast:  #f9b8071d;
$hover-color:  #c99506;
$border-gray-light: #ececec;
$border-gray-medium: #DBDBDB;
$border-gray-dark: #c7c7c7;
$dark-gray: #b4b4b4;
$light-gray: #F9F9F9;